<div class="container">
    <div class="row">
     <table class="table">
            <tr>
                <td>Name</td>
                <td>Email</td>
                <td>Picture</td>
                <td>Account Type</td>
                <td>Time</td>
            </tr>
            <tr  *ngFor="let mail of mailAccounts" >
                <td> {{mail.name}}</td>
                <td>{{mail.email}}</td>
                <td>  <img src="{{mail.pictureurl}}" > </td>
                <td>{{mail.account_type}}</td>
                <td>{{mail.connected_at}}</td>
            </tr>
        </table>
    </div>
</div>
